@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Open+Sans:ital,wght@0,400;0,500;1,400&family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.section-padding{
    padding: 60px 0;
}
.header{
    background-color: #00AFE9;
    color:#fff;
}
.header ul li a{
  color:#fff;
    text-transform: uppercase;
}
.adoVai{
    background-color: antiquewhite;
    color: black!important;
    padding: 6px 30px!important;
    border-radius: 20px;
    margin-right: 12px;
}
.hero-bg{
    background: url('images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}
.hero-section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.hero-content h2{
    color:#fff;
}
.hero-content p{
    color:#fff;
    width: 80%;
    margin: auto;
}
.hero-btn{
    margin-top: 30px;
}
.hero-btn a{
    background-color: #00AFE9;
    color: #fff;
    padding: 12px 18px;
}
.advisior-area{
    background-color: #00AFE9;
    padding: 30px 0;
    color: #fff;
}
.find-btn a{
    background-color:#fff;
    color: #00AFE9;
    padding: 12px 15px;
    text-transform: uppercase;
}
.aboutus-box{
    box-shadow: 0 19px 38px rgb(0 0 0 / 10%), 0 -19px 38px rgb(0 0 0 / 2%);
    padding: 45px 20px;

}
.aboutus-box h2{
    font-size: 22px;
}
.choose-us{
    background-color:#F7F7F7 ;
}
.readmore-btn{
    margin-top: 20px;
}
.readmore-btn a{
    background-color: #00AFE9;
    color: #fff;
    padding: 12px 16px;

}
.service-content{
    border: 1px solid #dddddd;
    padding: 40px 20px;
}
.click-test{
    background-color: sienna;
    color: #fff;
}
#welcomeJquery, #test-button {
    padding: 5px;
    text-align: center;
    background-color: aqua;
    border: solid 1px green;
    color: red;
    display: block;
}
#welcomeJquery {
    padding: 50px;
    display: none;
}

.footer-area{
    background-color: #2F2F2F;
    padding: 20px 0;
    color: #fff;
}
